{% extends 'base.html' %}
{% block title %}南航的博客{% endblock %}

{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}
{% block header_extends %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock%}    
{% block nav_blog_active %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 ">
                <div class="blog-item">
                    <h4 class="blog-item-title">{% block blog_type_title %}博客列表{% endblock %}</h4>
                    <div class="blog-item-body">
                        {% for blog in blogs %}
                        <div class="blog">                            
                            <div class="blog-title"><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></div>   
                            <div class="blog-content">{{ blog.content|striptags|truncatechars_html:200|safe }}</div>
                            <div class="blog-info">
                                <ul class="blog-info-description">
                                        <li><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></li>
                                        <li>
                                          <div class="blog-info-content"><a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>
                                        </div></li>
                                      <li><span class="divider">|</span></li>
                                        <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span></li>
                                        <li>
                                          <div class="blog-info-content">{{ blog.created_time|date:'Y-m-d' }}</div></li>
                                        <li>
                                      <li><span class="divider">|</span></li>
                                        <li><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
                                        <li>{{ blog.get_read_num }}</li>
                                      <span class="divider">|</span></li>
                                        <li><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
                                        <li>{% get_comment_count blog %}</li>
                                      <li><span class="divider">|</span></li>
                                      <li> 
                                      <span class="glyphicon glyphicon-thumbs-up"></span>
                                      <span>{% get_like_count blog %}</span>
                                      </li>                 
                                </ul>
                            </div> 
                        </div>
                        {% empty %}
                        <div class="blog">
                            <h4>--暂无博客，敬请期待--</h4>   
                        </div>
                        {% endfor %}     
                    </div>       
                </div>
                <div class="paginator">                   
                    <ul class="pagination">
                        {# 上一页 #}
                        <li>
                        {% if page_of_blogs.has_previous %}
                          <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        {% else %}
                            <span aria-hidden="true">&laquo;</span>
                        {% endif %}
                        </li>

                        {# 全部页码 #}
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blogs.number %}
                                <li class ='active'><span>{{ page_num }}</span></li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span></li>        
                                {% else %}       
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}

                        {% endfor %}
                        
                        {# 下一页 #}
                        <li>
                        {% if page_of_blogs.has_next %}
                          <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        {% else %}
                            <span aria-hidden="true">&raquo;</span>
                        {% endif %}
                        </li>
                    </ul>
                    <p>
                        共有{{ page_of_blogs.paginator.count }}篇博客,
                        当前第{{ page_of_blogs.number }}页，
                        共{{ page_of_blogs.paginator.num_pages }}页
                    </p>     
                </div>                            
            </div>
            <div class="hidden-xs col-sm-4 col-md-3 ">
                <div class="blog-item">
                    <h4 class="blog-item-title">博客分类</h4>
                    <ul>
                        {% for blog_type in blog_types %}
                            <li class="item-li">
                                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                                &nbsp&nbsp
                                <a href="{% url 'blogs_with_type' blog_type.pk %}">
                                {{ blog_type.type_name }}({{ blog_type.blogs_count }})</a>
                            </li>
                        {% empty %}
                            <li>暂无分类</li>
                        {% endfor %}
                    </ul>       
                </div>
                <div class="blog-item">
                    <h4 class="blog-item-title">日期归档</h4>
                    <ul>
                        <ul>
                        {% for blog_date,blog_count in blog_dates.items %}
                        <li class="item-li">
                            <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">{{ blog_date|date:'Y年m月' }}({{ blog_count }})</a>
                        </li>  
                        {% endfor %}
                        </ul>
                    </ul>       
                </div>
            </div>
        </div>
    </div>

{% endblock %}   
