{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Nanhang Blog
{% endblock %}    
{% block header_extends %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
    <div class="jumbotron masthead">
      <div class="container">
        <h2>Nanhang Blog</h2>
        <h3>记录学习CS的个人经验，不定期更新。</h3>
        <h3>南航的博客</h3>
      </div>
    </div>
    <div class="container">  
        <div class="row">
            <div class="col-sm-3">
                <div class="blog-item code-life">
                    <h4 class="blog-item-title">My Code life</h4>
                    <img src="{% static 'img/longway.png' %}">
                    <div class="site-state categories-count">
                        <span class="state-count">{{ categories_count }}</span>
                        <span class="state-name">categories</span>
                    </div>
                    <div class="site-state blogs-count">
                        <span class="state-count">{{ blogs_count }}</span>
                        <span class="state-name">blogs</span>
                    </div>
                    <div class="site-state read_num-count">
                        <span class="state-count">{{ views }}</span>
                        <span class="state-name">views</span>
                    </div>
                    <div class="site-state">
                        <a href="https://github.com/nanharder" title="Github"><i class="fa fa-fw fa-github"></i>Github</a>
                    </div>
                    <div class="site-state">
                        <a href="mailto:ustcnanh@gmail.com" title="Github"><i class="fa fa-fw fa-envelope"></i>Email</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="blog-item">
                    <h4 class="blog-item-title">博客分类</h4>
                    <ul>
                        {% for blog_type in blog_types %}
                            <li class="item-li">
                                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                                &nbsp&nbsp
                                <a href="{% url 'blogs_with_type' blog_type.pk %}">
                                {{ blog_type.type_name }}({{ blog_type.blogs_count }})</a>
                            </li>
                        {% empty %}
                            <li>暂无分类</li>
                        {% endfor %}
                    </ul>       
                </div>
            </div>
        </div>
    </div>
    <div class="container" id = "content">
        <div class="row">
            <div class="col-sm-4">
                <div class="blog-item">
                    <h4 class="blog-item-title">今天热门点击</h4>
                    <ul>
                        {% for hot_data in today_hot_data %}
                            <li>
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                <span class="read-num">{{ hot_data.read_num }}</span>
                                <a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>
                            </li>
                        {% empty %}
                            <li>今天暂时没有热门博客</li>
                        {% endfor %}
                    </ul>       
                </div>
            </div>
            <div class="col-sm-4">
                <div class="blog-item">
                    <h4 class="blog-item-title">昨天热门点击</h4>
                    <ul>
                        {% for hot_data in yesterday_hot_data %}
                            <li>
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                <span class="read-num">{{ hot_data.read_num }}</span>
                                <a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>
                            </li>
                        {% empty %}
                            <li>昨天暂时没有热门博客</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="blog-item">
                    <h4 class="blog-item-title">7天热门点击</h4>
                <ul>
                    {% for hot_blog in hot_blogs_for_7_days %}
                        <li>
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            <span class="read-num">{{ hot_blog.read_num_sum }}</span>
                            <a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>
                        </li>
                    {% empty %}
                        <li>7天内暂时没有热门博客</li>
                    {% endfor %}
                </ul>        
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
{% endblock %}   
